@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.tip-calculator {
  font-family: 'Space Mono', monospace;
}

.tc-label {
  display: block;
  font-size: 16px;
}

.tc-summary {
  color: white;
  font-size: 16px;
}

.tc-summary-dark {
  color: hsl(186deg 27% 39%);
  font-size: 14px;
}

.tc-summary-amount {
  color: hsl(172deg 67% 45%);
  font-size: 34px;
  font-weight: bold;
}

.tc-custom-tip::placeholder {
  text-align: center;
}
