.tc-label {
  display: block;
  font-size: 16px;
}

.tc-summary {
  color: white;
  font-size: 16px;
}

.tc-summary-dark {
  color: hsl(186deg 27% 39%);
  font-size: 14px;
}

.tc-summary-amount {
  color: hsl(172deg 67% 45%);
  font-size: 34px;
  font-weight: bold;
}

.tc-custom-tip::placeholder {
  text-align: center;
}