.no-margin {
  margin: 0;
}

.margin-hor {
  margin: 0 1rem;
}

.margin-ver {
  margin: 1rem 0;
}

.flex-inbetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.line-height-sm {
  line-height: 0.8rem;
}

.tc-label {
  display: block;
  font-size: 16px;
}

.tc-summary {
  color: white;
  font-size: 16px;
}

.tc-summary-dark {
  color: hsl(186deg 27% 39%);
  font-size: 14px;
}

.tc-summary-amount {
  font-size: 40px;
  font-weight: bold;
}

.tc-custom-tip::placeholder {
  text-align: center;
}
