*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.no-margin {
  margin: 0;
}

.tc-label {
  display: block;
  font-size: 16px;
}

.tc-summary {
  color: white;
  font-size: 16px;
}

.tc-summary-dark {
  color: hsl(186deg 27% 39%);
  font-size: 14px;
}

.tc-custom-tip {
  width: 7rem;
  height: 2rem;
  margin: 0.5rem 0;
  border-radius: 7px;
  border: none;
  text-align: right;
  font-size: 27px;
  color: hsl(172deg 14% 41%);
  background-color: hsl(185deg 41% 84%);
}
